.movies__containers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies__more {
  margin-top: 50px;
  width: 320px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background-color: #2F2F2F;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.6;
}

.movies__more:hover {
  opacity: 1;
}
