.nav {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  /* margin-right: 70px; */
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.nav__link:hover {
  opacity: 0.7;
}

.nav__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-right: 30px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__button {
  width: 76px;
  height: 32px;
  border: none;
  background-color: #3DDC84;
  border-radius: 3px;
  cursor: pointer;
}

.nav__button:hover {
  opacity: 0.7;
}

.nav__item-log {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-right: 20px;
}

.nav__item-log:nth-child(2) {
  font-weight: normal;
  margin-right: 30px;
}

.nav__item-log:nth-child(3) {
  margin-right: 13px;
}

.nav__button-log {
  border: none;
  width: 30px;
  height: 30px;
  background-color: #313131;
  border-radius: 6px;
  background-image: url(../../images/icon__acc.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 550px) {
  .nav__button {
    width: 54px;
    height: 26px;
  }
  .nav__item {
    font-size: 10px;
  }

}
