.login {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 70px;
  min-width: 396px;
}

.login__title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__input-title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  margin-bottom: 10px;
}

.login__input {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  border: none;
  height: 46px;
  border-radius: 8px;
  background-color: #2F2F2F;
  color: white;
  padding-left: 15px;
}

.login__input:last-of-type {
  margin-bottom: 179px;
}

.login__button {
  margin: 0;
  padding: 0;
  height: 45px;
  color: white;
  margin-bottom: 16px;
  border: none;
  background-color: #4285F4;
  border-radius: 3px;
}

.login__subtitle {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
}

.login__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
  margin-left: 6px;
}
